<%- include ('./layout') %>
<div style="background-color: #20c997;">
    <div class="card bg-dark text-white">
        <img class="card-img cropped w-100" src="<%= atrakcija.slika %>" alt="Card image" style="filter: brightness(50%);">
        <div class="card-img-overlay d-flex justify-content-center align-items-center">
          <h5 class="card-title display-4"><%= atrakcija.planina %> - <%= atrakcija.imeAtrakcije %></h5>
        </div>
    </div>
    <button class="btn btn-info w-100" onClick="document.getElementById('informacije').scrollIntoView();">
        <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
width="64" height="64"
viewBox="0 0 172 172"
style=" fill:#000000;"><g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal"><path d="M0,172v-172h172v172z" fill="none"></path><g fill="#ffffff"><path d="M77.9375,5.375c-1.49072,0 -2.6875,1.20728 -2.6875,2.6875v122.51221l-49.16235,-49.16235c-1.0498,-1.0498 -2.75049,-1.0498 -3.80029,0l-10.75,10.75c-1.0498,1.0498 -1.0498,2.75049 0,3.80029l72.5625,72.5625c0.5249,0.5249 1.20728,0.78735 1.90015,0.78735c0.69287,0 1.37524,-0.26245 1.90015,-0.78735l72.5625,-72.5625c1.0498,-1.0498 1.0498,-2.75049 0,-3.80029l-10.75,-10.75c-1.0498,-1.0498 -2.75049,-1.0498 -3.80029,0l-49.16235,49.16235v-122.51221c0,-1.48022 -1.19678,-2.6875 -2.6875,-2.6875zM80.625,10.75h10.75v126.3125c0,1.0813 0.65088,2.06811 1.65869,2.47754c1.00781,0.41992 2.1626,0.18897 2.92895,-0.57739l51.84985,-51.84985l6.94971,6.94971l-68.76221,68.76221l-68.76221,-68.76221l6.94971,-6.94971l51.84985,51.84985c0.76636,0.76636 1.93164,0.99732 2.92896,0.57739c1.00781,-0.40942 1.65869,-1.39624 1.65869,-2.47754zM104.8125,10.75c-1.49072,0 -2.6875,1.20728 -2.6875,2.6875c0,1.48022 1.19678,2.6875 2.6875,2.6875h5.375c1.49072,0 2.6875,-1.20728 2.6875,-2.6875c0,-1.48022 -1.19678,-2.6875 -2.6875,-2.6875zM104.8125,24.1875c-1.49072,0 -2.6875,1.20728 -2.6875,2.6875c0,1.48022 1.19678,2.6875 2.6875,2.6875h5.375c1.49072,0 2.6875,-1.20728 2.6875,-2.6875c0,-1.48022 -1.19678,-2.6875 -2.6875,-2.6875zM104.8125,37.625c-1.49072,0 -2.6875,1.20728 -2.6875,2.6875c0,1.48022 1.19678,2.6875 2.6875,2.6875h5.375c1.49072,0 2.6875,-1.20728 2.6875,-2.6875c0,-1.48022 -1.19678,-2.6875 -2.6875,-2.6875zM104.8125,51.0625c-1.49072,0 -2.6875,1.20728 -2.6875,2.6875c0,1.48022 1.19678,2.6875 2.6875,2.6875h5.375c1.49072,0 2.6875,-1.20728 2.6875,-2.6875c0,-1.48022 -1.19678,-2.6875 -2.6875,-2.6875zM104.8125,64.5c-1.49072,0 -2.6875,1.20728 -2.6875,2.6875c0,1.48022 1.19678,2.6875 2.6875,2.6875h5.375c1.49072,0 2.6875,-1.20728 2.6875,-2.6875c0,-1.48022 -1.19678,-2.6875 -2.6875,-2.6875zM104.8125,77.9375c-1.49072,0 -2.6875,1.20728 -2.6875,2.6875c0,1.48022 1.19678,2.6875 2.6875,2.6875h5.375c1.49072,0 2.6875,-1.20728 2.6875,-2.6875c0,-1.48022 -1.19678,-2.6875 -2.6875,-2.6875zM104.8125,91.375c-1.49072,0 -2.6875,1.20728 -2.6875,2.6875c0,1.48022 1.19678,2.6875 2.6875,2.6875h5.375c1.49072,0 2.6875,-1.20728 2.6875,-2.6875c0,-1.48022 -1.19678,-2.6875 -2.6875,-2.6875zM104.8125,104.8125c-1.49072,0 -2.6875,1.20728 -2.6875,2.6875c0,1.48022 1.19678,2.6875 2.6875,2.6875h5.375c1.49072,0 2.6875,-1.20728 2.6875,-2.6875c0,-1.48022 -1.19678,-2.6875 -2.6875,-2.6875z"></path></g></g></svg>
    </button>
    <br/>
    <br id="informacije"/>
    <br/>
    <br/>
    <br/>

    <div class="border border-success rounded-lg mx-auto w-50 p-4">
    <p class="text-justify mx-5 px-5 text-light"><img src="https://img.icons8.com/office/40/000000/sports-mode.png"/> <%= atrakcija.opis %></p>
    <p class="text-justify mx-5 px-5 text-light"><img src="https://img.icons8.com/officel/40/000000/map-pin.png"/> <%= atrakcija.lokacija %></p>
    <p class="mx-5 px-5 text-light"><svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
        width="40" height="40"
        viewBox="0 0 172 172"
        style=" fill:#000000;"><g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal"><path d="M0,172v-172h172v172z" fill="none"></path><g><path d="M75.32955,166.625c-2.8294,0 -5.49325,-1.10295 -7.49275,-3.10675l-59.35935,-59.3959c-4.1323,-4.13445 -4.1323,-10.8618 0,-14.99625l79.08345,-79.03185c3.0444,-3.0444 7.0907,-4.71925 11.395,-4.71925h51.5441c8.8924,0 16.125,7.23905 16.125,16.13575v51.6688c0,4.3172 -1.6813,8.37425 -4.7386,11.42295l-79.0641,78.91575c-1.9995,2.0038 -4.6612,3.10675 -7.49275,3.10675zM141.9,22.5879c-4.1495,0 -7.525,3.37765 -7.525,7.5293c0,4.15165 3.3755,7.5293 7.525,7.5293c4.1495,0 7.525,-3.37765 7.525,-7.5293c0,-4.15165 -3.3755,-7.5293 -7.525,-7.5293z" fill="#e67e22"></path><path d="M150.5,6.45c8.299,0 15.05,6.75745 15.05,15.06075v51.6688c0,4.03125 -1.5695,7.8174 -4.42255,10.664l-79.06625,78.91575c-1.7974,1.79955 -4.1882,2.7907 -6.73165,2.7907c-2.54345,0 -4.93425,-0.99115 -6.73165,-2.7907l-59.35935,-59.39805c-3.71305,-3.7152 -3.71305,-9.761 0,-13.4762l79.0813,-79.03185c2.84015,-2.84015 6.6177,-4.4032 10.6339,-4.4032h51.54625M141.9,38.7215c4.7429,0 8.6,-3.85925 8.6,-8.6043c0,-4.74505 -3.8571,-8.6043 -8.6,-8.6043c-4.7429,0 -8.6,3.85925 -8.6,8.6043c0,4.74505 3.8571,8.6043 8.6,8.6043M150.5,4.3h-51.54625c-4.558,0 -8.92895,1.8103 -12.15395,5.03315l-79.0813,79.03185c-4.558,4.56015 -4.558,11.95615 0,16.5163l59.35935,59.39805c2.279,2.28115 5.26535,3.42065 8.2517,3.42065c2.98635,0 5.97485,-1.1395 8.25385,-3.42065l79.0641,-78.9136c3.23575,-3.2293 5.0525,-7.61315 5.0525,-12.1862v-51.6688c0,-9.50515 -7.7013,-17.21075 -17.2,-17.21075zM141.9,36.5715c-3.56255,0 -6.45,-2.8896 -6.45,-6.4543c0,-3.5647 2.88745,-6.4543 6.45,-6.4543c3.56255,0 6.45,2.8896 6.45,6.4543c0,3.5647 -2.88745,6.4543 -6.45,6.4543z" fill="#e74c3c"></path><path d="M80.10685,125.8524c-4.02695,-0.989 -9.80185,-3.72595 -14.6673,-8.58925c-6.91655,-6.91655 -10.41675,-15.88205 -9.35035,-25.00235c0.38055,-5.24385 2.5112,-10.7156 6.46075,-16.0347l-4.8633,-4.8633l4.71495,-4.71495l4.25485,4.25485c0.3784,-0.3784 0.7568,-0.7568 1.13735,-1.13735c0.99115,-0.99115 2.0554,-1.90275 2.96485,-2.65955l-4.4075,-4.4075l4.71065,-4.71065l5.0912,5.0912c5.62655,-3.8012 11.55625,-5.62655 17.25375,-5.8523c8.58925,-0.38055 16.72055,2.58215 23.48445,9.34605c4.56015,4.56015 7.2197,9.50085 8.51185,13.22465l-8.8924,5.0912c-0.9847,-2.967 -3.1132,-7.0692 -6.5317,-10.48985c-3.79905,-3.79905 -8.514,-5.7749 -13.83525,-5.4696c-3.2637,0.0731 -6.91225,1.4448 -10.4103,3.72595l19.91115,19.91115l-4.71065,4.71065l-20.82275,-20.82275c-0.9847,0.6837 -1.9006,1.59745 -2.88745,2.5843c-0.4558,0.4558 -0.7568,0.7568 -1.2126,1.2126l20.9754,20.9754l-4.71495,4.71495l-20.13905,-20.13905c-2.65955,3.7238 -4.02695,7.36805 -4.10435,10.63605c-0.2279,5.39865 2.12635,10.33935 6.07805,14.29105c3.7238,3.7238 8.51185,5.9254 11.17355,6.7639z" fill="#ffffff"></path></g></g></svg><%= atrakcija.cena %>
    </p>
    <p class="mx-5 px-5 text-light"><svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
        width="40" height="40"
        viewBox="0 0 172 172"
        style=" fill:#000000;"><g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal"><path d="M0,172v-172h172v172z" fill="none"></path><g><path d="M131.58,166.625c-2.795,0 -5.59,-0.645 -8.17,-1.72c-14.835,-6.45 -43.86,-21.07 -69.445,-46.87c-25.8,-25.585 -40.42,-54.395 -46.87,-69.445c-3.44,-7.74 -1.72,-16.985 4.515,-23.22l16.125,-16.125c2.58,-2.58 6.02,-4.085 9.675,-4.085v0c3.655,0 7.095,1.505 9.675,4.085l21.07,21.07c5.375,5.375 5.375,14.19 0,19.565l-21.5,21.5l0.215,0.645c0,0.215 6.45,17.2 21.285,31.82c14.835,14.62 31.605,21.285 31.82,21.285l0.645,0.215l21.5,-21.5c2.58,-2.58 6.02,-4.085 9.675,-4.085c3.655,0 7.095,1.505 9.675,4.085l21.07,21.07c2.58,2.58 4.085,6.02 4.085,9.675c0,3.655 -1.505,7.095 -4.085,9.675l-16.125,16.125c-3.87,3.87 -9.245,6.235 -14.835,6.235z" fill="#f1c40f"></path><path d="M37.41,6.45c3.44,0 6.665,1.29 9.03,3.655l21.07,21.07c4.945,4.945 4.945,12.9 0,18.06l-21.07,21.07l-1.075,1.075l0.43,1.29c0.215,0.645 6.45,17.415 21.5,32.25c15.05,15.05 31.605,21.285 32.25,21.5l1.29,0.43l1.075,-1.075l21.07,-21.07c2.365,-2.365 5.59,-3.655 9.03,-3.655c3.44,0 6.665,1.29 9.03,3.655l21.07,21.07c4.945,4.945 4.945,12.9 0,18.06l-16.125,16.125c-3.87,3.44 -9.03,5.59 -14.405,5.59c-2.795,0 -5.375,-0.645 -7.74,-1.72c-14.835,-6.45 -43.645,-21.07 -69.015,-46.655c-25.37,-25.585 -40.42,-54.18 -46.655,-69.015c-3.225,-7.525 -1.505,-16.125 4.3,-22.145l16.125,-16.125c2.15,-2.15 5.375,-3.44 8.815,-3.44M37.41,4.3c-3.87,0 -7.525,1.505 -10.535,4.3l-16.125,16.125c-6.45,6.45 -8.385,16.125 -4.73,24.51c7.31,16.34 21.93,44.29 47.085,69.66c25.155,25.37 53.32,39.99 69.875,47.085c2.795,1.29 5.805,1.72 8.6,1.72c5.805,0 11.395,-2.365 15.695,-6.665l16.125,-16.125c5.805,-5.805 5.805,-15.265 0,-21.07l-21.07,-20.64c-2.795,-2.795 -6.665,-4.3 -10.535,-4.3c-3.87,0 -7.525,1.505 -10.535,4.3l-21.07,21.07c0,0 -16.77,-6.235 -31.39,-21.07c-14.835,-14.835 -21.07,-31.39 -21.07,-31.39l21.07,-21.07c5.805,-5.805 5.805,-15.265 0,-21.07l-20.855,-21.07c-3.01,-2.795 -6.665,-4.3 -10.535,-4.3z" fill="#e67e22"></path><path d="M26.18202,10.52159l1.52017,-1.52039l7.75397,7.75288l-1.52017,1.52039z" fill="#e67e22"></path><path d="M41.67276,25.96663l1.52025,-1.52031l25.23708,25.2362l-1.52025,1.52031z" fill="#e67e22"></path><path d="M121.87916,105.18117l1.52049,-1.52007l7.75234,7.75451l-1.52049,1.52007z" fill="#e67e22"></path><path d="M137.36954,120.62351l1.52025,-1.52031l25.23708,25.2362l-1.52025,1.52031z" fill="#e67e22"></path></g></g></svg>
        <%= atrakcija.kontakt %>
    </p>
    <p class="mx-5 px-5 text-light">
        <img src="https://img.icons8.com/color/48/000000/every-three-hours.png"/>
        <%= atrakcija.radnoVreme %>h
    </p>
    <p class="mx-5 px-5 text-light">
        <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
width="48" height="48"
viewBox="0 0 172 172"
style=" fill:#000000;"><g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal"><path d="M0,172v-172h172v172z" fill="none"></path><g><path d="M39.41667,75.25c-1.032,0 -2.06042,0.54108 -2.59792,1.60892l-36.81875,73.64108h78.83333l-36.81875,-73.64108c-0.5375,-1.06783 -1.56592,-1.60892 -2.59792,-1.60892zM144.0715,109.20208l-22.23817,41.29792h50.16667l-22.23817,-41.29792c-0.60917,-1.13233 -1.72717,-1.70208 -2.84517,-1.70208c-1.118,0 -2.236,0.56975 -2.84517,1.70208z" fill="#90a4ae"></path><path d="M154.08333,150.5h-129l34.873,-71.66667l15.29367,-21.5h28.66667l16.77,24.54583z" fill="#546e7a"></path><path d="M120.92317,82.41667l-9.83983,-7.16667l3.58333,25.08333l-21.5,-39.41667l-10.75,25.08333l-7.16667,-21.5l-15.29367,14.33333l15.29367,-31.42583l11.61,-24.295c0.14333,-0.28667 0.35833,-0.5375 0.57333,-0.7525c0.60917,-0.57333 1.36167,-0.86 2.11417,-0.86c0.9675,0 1.89917,0.46583 2.43667,1.32583c0.1075,0.1075 0.14333,0.215 0.215,0.3225z" fill="#ffffff"></path></g></g></svg>
<%= atrakcija.planina %>

</p>
    <a href="<%= atrakcija.vebLokacija %>" class="mx-5 px-5"><button class="btn btn-outline-dark"><svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
        width="64" height="64"
        viewBox="0 0 172 172"
        style=" fill:#000000; width:30px; height:30px;"><g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal"><path d="M0,172v-172h172v172z" fill="none"></path><g fill="#ffffff"><path d="M110.32188,158.42813c0.5375,0 1.075,-0.13437 1.6125,-0.26875c2.01563,-0.80625 3.09062,-3.225 2.15,-5.24063l-12.49688,-29.96562h27.4125c2.6875,0 5.24062,-1.6125 6.18125,-4.16562c1.075,-2.55313 0.40312,-5.375 -1.6125,-7.39062l-57.64687,-56.16875c-1.88125,-1.88125 -4.8375,-2.41875 -7.25625,-1.34375c-2.55313,1.075 -4.03125,3.49375 -4.03125,6.18125v80.89375c0,2.82188 1.6125,5.24063 4.3,6.31563c0.80625,0.26875 1.6125,0.5375 2.41875,0.5375c1.88125,0 3.62812,-0.80625 4.8375,-2.15l18.14063,-19.35l12.3625,29.83125c0.67188,1.34375 2.15,2.28437 3.62812,2.28437zM54.55625,30.50313c0.67188,1.6125 2.15,2.41875 3.7625,2.41875c0.5375,0 1.075,-0.13437 1.6125,-0.26875c2.01563,-0.80625 3.09063,-3.225 2.15,-5.24063l-7.92813,-18.67813c-0.80625,-2.01562 -3.225,-3.09062 -5.24062,-2.15c-2.01562,0.80625 -3.09063,3.225 -2.15,5.24063zM22.44063,43.5375l19.21563,6.04688c0.40313,0.13437 0.80625,0.13437 1.20938,0.13437c1.74687,0 3.35938,-1.075 3.89687,-2.82187c0.67188,-2.15 -0.5375,-4.43438 -2.6875,-5.10625l-19.21562,-6.04687c-2.15,-0.67187 -4.43438,0.5375 -5.10625,2.6875c-0.67187,2.15 0.5375,4.43438 2.6875,5.10625zM79.14687,33.45938c0.5375,0.26875 1.20938,0.40312 1.88125,0.40312c1.47812,0 2.82187,-0.80625 3.62812,-2.15l9.40625,-17.87188c1.075,-2.01562 0.26875,-4.43437 -1.74688,-5.375c-2.01562,-1.075 -4.43437,-0.26875 -5.375,1.74688l-9.40625,17.87188c-1.075,2.01563 -0.40313,4.43437 1.6125,5.375z"></path></g></g></svg>Web lokacija</button></a>
    <br/>
    </div>
    <br/>
    <div class="embed-responsive embed-responsive-16by9 w-75 mx-auto">
        <iframe class="embed-responsive-item w-100" src="<%= atrakcija.video %>" allowfullscreen></iframe>
    </div>
<br/>
<br/>
<br/>
<br/>
<br/>

<br/>
<br/>
<br/>
<br/>
</div>

<style>
    .cropped {
    height: 600px; /* height of container */
    object-fit: cover;
    /* filter: brightness(50%); */
}
html {
  scroll-behavior: smooth;
}
</style>