<%- include ('./layout') %>
<h3 class="display-4 mx-4"><%= planina.imePlanine %>
</h3>
<br/>
<p class="lead mx-5"><img src="https://img.icons8.com/plasticine/100/000000/worldwide-location.png"/> <%= planina.region %>, <%= planina.lokacija %></p>
<br/>
<h4 class="mx-4">Smeštaj na planini: </h5>
<script>
    var sveAdrese=[];
    var sviHoteli=[];
    var sveSlike=[];
</script>
<br/>
<div class="mx-4 row row-cols-1 row-cols-md-3 g-4">
<% smestaji.forEach(function(smestaj){ %>  
    <%if (smestaj.planina == planina.imePlanine) { %>
        <script>
           sveAdrese.push("<%= smestaj.adresa%>");
           sviHoteli.push("<%= smestaj.imeSmestaja%>");
           sveSlike.push("<%= smestaj.slika%>");
           console.log(sveAdrese);
           console.log(sviHoteli);
        </script>
        <div class="col">
            <div class="card m-2" style="background-color: #BFD1E0; max-width:300px;">
            <img src="<%= smestaj.slika%>" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title"><i class="fas fa-hotel"></i> <%= smestaj.imeSmestaja %></h5>
              <p class="card-text"><i class="fas fa-phone"></i>  <%= smestaj.kontakt%></p>
              <p class="card-text"><i class="fas fa-map-signs"></i>  <%= smestaj.udaljenostOdCentra%>m od centra</p>
              <a href="/smestaj/<%= smestaj._id%>" class="stretched-link"></a>
            </div>
          </div>
        </div>      
        <% } %>
<% }) %>
</div>
<br/>
<h4 class="mx-4">Atrakcije na planini: </h4><br/>
<div class="mx-4 row row-cols-1 row-cols-md-3 g-4">
<% atrakcije.forEach(function(atrakcija){ %>  
    <%if (atrakcija.planina == planina.imePlanine) { %>
        <div class="col">
            <div class="card m-2" style="background-color: #BFD1E0; max-width: 300px;">
            <img src="<%= atrakcija.slika%>" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title"><i class="fas fa-hotel"></i> <%= atrakcija.imeAtrakcija %></h5>
              <p class="card-text"><i class="fas fa-phone"></i>  <%= atrakcija.kontakt%></p>
              <p class="card-text"><i class="fas fa-map-signs"></i>  <%= atrakcija.lokacija%></p>
              <p class="card-text"><i class="fas fa-map-money"></i>  <%= atrakcija.cena%></p>
              <a href="/atrakcija/<%= atrakcija._id%>" class="stretched-link"></a>
            </div>
          </div>
        </div>      
        <% } %>
<% }) %>
</div>


<style>
    #map {
        width: 900px;
        height:400px;
    }
  </style> 
  <br/>
  <div id="map" class="w-100 mx-auto"></div> 
  <br/>
  <br />
  <br/>
  <script type="text/javascript">
    window.onload = function() {
      L.mapquest.key = 'xZkpUhDeKCi3xZfhJVuTc52uc7s6tjN9';
      // Geocode three locations, then call the createMap callback
      console.log(sveAdrese);
      L.mapquest.geocoding().geocode(sveAdrese, createMap);

      function createMap(error, response) {
        // Initialize the Map
        var map = L.mapquest.map('map', {
          layers: L.mapquest.tileLayer('map'),
          center: [43.28654002651884,20.809841155792963],
          zoom: 12
        });

        // Generate the feature group containing markers from the geocoded locations
        var featureGroup = generateMarkersFeatureGroup(response);

        // Add markers to the map and zoom to the features
        featureGroup.addTo(map);
        map.fitBounds(featureGroup.getBounds());
      }

      function generateMarkersFeatureGroup(response) {
        var group = [];
        for (var i = 0; i < response.results.length; i++) {
          var location = response.results[i].locations[0];
          var locationLatLng = location.latLng;
          var popup = L.popup().setContent("<img src='" + sveSlike[i] + "' width=300>")
          var marker = L.marker(locationLatLng, {icon: L.mapquest.icons.marker()}) 
           
          marker.bindPopup(popup);
          marker.on('mouseover', function (e) {
            this.openPopup();
          });
          marker.on('mouseout', function (e) {
            this.closePopup();
          });

          group.push(marker);
        
        }
        return L.featureGroup(group);
      }
    }
  </script>   
  <style>
    .card:hover{
  filter: brightness(80%);
  box-shadow: 0 4px 8px 0 #4361ee, 0 6px 20px 0 #eaf4f8;
}
  </style>
