<%- include ('./layout') %>
<h3 class="display-4 mx-5">Izmeni planinu</h3>
<form action= "/planine/edit/<%= planina._id%>" method="POST" class="mx-5">
    <input type="hidden" name="id" value="<%= planina._id%>" />
    <input type="text" name="imePlanine" placeholder="Ime planine" value="<%= planina.imePlanine%>" class="w-100"/>
    <br />
    <input type="text" name="region" placeholder="Region" value="<%= planina.region%>" class="w-100" />
    <br />
    <input type="text" name="lokacija" placeholder="Lokacija" value="<%= planina.lokacija%>" class="w-100" />
    <br />
    <input type="text" name="slika" placeholder="Slika" value="<%= planina.slika%>" class="w-100"/>
    <br />
    <small class="text-muted">Izmenite planinu...</small>
    <br />
  <input
    type="submit"
    value="Izmeni planinu"
    class="btn btn-outline-light btn-sm w-100"
  />
</form>
