<%- include ('./layout') %>
<h3>Izmeni planinu</h3>
<form action= "/planine/edit/<%= planina._id%>" method="POST">
    <input type="hidden" name="id" value="<%= planina._id%>" />
    <input type="text" name="imePlanine" placeholder="Ime planine" value="<%= planina.imePlanine%>"/>
    <br />
    <input type="text" name="region" placeholder="Region" value="<%= planina.region%>" />
    <br />
    <input type="text" name="lokacija" placeholder="Lokacija" value="<%= planina.lokacija%>" />
    <br />
    <input type="text" name="slika" placeholder="Slika" value="<%= planina.slika%>"/>
    <br />
    <small class="text-muted">Izmenite planinu...</small>
    <br />
  <input
    type="submit"
    value="Izmeni planinu"
    class="btn btn-outline-primary btn-sm"
  />
</form>
